@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-r-c {
  @include flex-col;

  flex-direction: column-reverse;
}

@mixin flex-r-r {
  @include flex-row;

  flex-direction: row-reverse;
}
