// Font colors

// $default-font-color: $light-black-color;
// $dark-font-color: $black-color;
// $hint-font-color: $dark-grey-color;
// $light-font-color: $white-color;

// Font sizes

$body-font-size: 1.6rem;
$h1-size: 3.2rem;
$h2-size: 2.4rem;
$h3-size: 2rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.2rem;

// Font weights

$default-font-weight: 400;
$bold-font-weight: 600;
$bolder-font-weight: 800;
